<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>situational dialogue</title>
    <link rel="stylesheet" href="/static/css/language_english.css">
</head>
<body>
    <div class="container">
        <h1>situational dialog</h1>
        <div class="button-grid">
            <button class="dialog-button" id="btn-1">natural conversation</button>
            <button class="dialog-button" id="btn-2">Misunderstanding and Betrayal</button>
            <button class="dialog-button" id="btn-3">Consequences and Accountability</button>
            <button class="dialog-button" id="btn-4">Financial Struggles and Contentment</button>
            <button class="dialog-button" id="btn-5">Coping Mechanisms and Financial Strain</button>
            <button class="dialog-button" id="btn-6">Disappointment and Practicality</button>
            <button class="dialog-button" id="btn-7">Deception and Misjudgment</button>
            <button class="dialog-button" id="btn-8">Work Stress and Seeking Change</button>
            <button class="dialog-button" id="btn-9">Choices and Consequences</button>
            <button class="dialog-button" id="btn-10">Trust and Security Breach</button>
        </div>
    </div>
    <script src="/static/js/language_english.js"></script>
</body>
</html>
